# OS
.DS_Store/
thumbs.db
time-travel.*

# IDE
.vscode/
.vs/
.idea/
*.iml

# Rust
target/
Cargo.lock

# Node / pnpm
node_modules/
dist/
*.tsbuildinfo
.pnpm-store/

# Tauri
projects/mathematica-tauri/gen/
